@using MyFridge.Web.ProductsViewModels
@model List<AllProductsViewModel>

@{
    ViewData["Title"] = "Начална страница";
}

<h2 class="mb-4">Налични продукти</h2>

@if (!Model.Any())
{
    <p>Все още няма налични продукти.</p>
}
else
{
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
