@using MyFridge.Web.ProductsViewModels
@using MyFridge.Common.Enums
@model List<ShowProductsViewModel>

@{
    ViewData["Title"] = "Начална страница";
}

<div class="d-flex">
    <!-- Дясна секция за списъка -->
    <div class="ms-4" style="width: 300px;">
        <h4>Създаден списък</h4>
        <div id="shoppingListSection" class="border p-3 bg-light">
            @if (Model != null && Model.Any())
            {
                <ul>
                    @foreach (var item in Model)
                    {
                        <li id="product-@item.Id">
                            @item.Name
                            <button type="button" class="btn btn-danger btn-sm delete-product" data-id="@item.Id">X</button>
                            <button type="button" class="btn btn-success btn-sm add-to-fridge" data-id="@item.Id">✓</button>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p id="emptyMessage">Все още няма добавени продукти.</p>
            }
        </div>
    </div>
</div>
